@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@theme {
    --color-primary: #F53838;
    --color-secondary: rgba(245, 56, 56, 0.35);
    --color-primary-text: #4F5665;
    --color-heading-text: #0B132A;
    --font-primary: "Rubik", sans-serif;
}

html{
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}


.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    opacity: 1;
    margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
    background: #F53855;
    width: 45px;
    border-radius: 10px;
    transition: width 0.3s ease;
}